.icon-button-dark {
    background-color: black;
    color: #E0E0E0;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease;
}

.icon-button-dark:hover {
    background-color: #444444;
}
  
.hidden {
    display: none;
}

.menu {
  position: absolute;
  min-width: max-content;
  right: 0;
  
  button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-right: 5px;

    mat-icon {
      margin-right: 5px;
    }
  }

  button:focus {
    outline: 1px solid #cccccc;
  }
}
