<button
    mat-icon-button
    aria-label="More options"
    class="icon-button-dark"
    tabindex="1"
    (click)="showMenu()"
    data-cy="more-options-button"
>
    <mat-icon>more_vert</mat-icon>
</button>
  
<div class="menu" [ngClass]="{'hidden':!isOpen}">
    <button
    #addMenu
    (click)="addClickVizHandler($event)"
    data-cy="add-button"
    >
    <mat-icon>add</mat-icon>
    <span class="button-text">Add Viz</span>
    </button>

    <button
    (click)="toggleReflow(reflow)"
    data-cy="reflow-button"
    >
    @if(reflow === 'never'){
        <mat-icon data-cy="unchecked">check_box_outline_blank</mat-icon>
    } @else if (reflow === 'always') {
        <mat-icon data-cy="checked">check-circle-outline</mat-icon>
    }


    <span class="button-text">Reflow</span>
    </button>
</div>
