<div class="outer">
    <div 
        class="visualization"
        #viewer
    >
        @if(stRendererId > 0 && afterInitComplete) {
            <app-viz
             [stRendererInputId]="stRendererId"
             [vizWidth]="viewerWidth"
             [vizHeight]="viewerHeight"
            ></app-viz>
        }

    </div>
    <div class="editors">

        SET UP THREE PUBLISHED THAT WILL PUBLISH ACTUAL VALUES USED
        <p>EDITOR</p> 
         @if(stRendererId > 0 && afterInitComplete) {
        <div>
                Aspect Ratio SHOULD BE: {{viewerWidth/viewerHeight}} 
        </div>
        <div>
                CALCULATED Aspect Ratio IS: {{stPublisherService.calculatedAspectRatioSignal()[this.stRendererId]}}
        </div>
        <div>
                ACTUAL Aspect Ratio IS:
                <span data-cy="three-aspect-ratio"> 
                {{threePublisherService.threeAspectRatioSignal()[this.stRendererId]}}
                </span>
        </div>
        }
    </div>
</div>