.outer {
  height: 100vh; // Or 100% if the parent also has height set
  display: flex;
  flex-direction: column;

  .visualization,
  .editors {
    flex: 1 1 0; // Each takes equal height
    min-height: 0;
    overflow: auto;
  }

  .toolbar {
    flex: 0 0 auto;
    border: 1px solid black;
    background-color: #FAF0E6;
  }

  .editors {
    background-color: #FAF0E6;
  }

  .visualization {
    overflow: hidden;
  }
}


