<div class="app-data-layout-wrapper">
    <div class="data-type-toggle">
        <mat-button-toggle-group
            name="dataType"
            aria-label="Data Type"
            (change)="layoutChange($event)"
        >
            <mat-button-toggle 
            value="st"
            data-cy="toggle-layout-button-st"
            [checked]="currentRouteService.currentRouteType() !== 'three'"
            >
            ST
            </mat-button-toggle>
            <mat-button-toggle 
            value="three"
            data-cy="toggle-layout-button-three"
            [checked]="currentRouteService.currentRouteType() === 'three'"
            >
            Three
        </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    @if(currentRouteService.currentRouteType() === 'three') {
        <app-three-table></app-three-table>
    }

    @if(currentRouteService.currentRouteType() !== 'three') {
        <app-entity-filter></app-entity-filter>
        <app-entity-table></app-entity-table>
    }

</div>