/* You can add global styles to this file, and also import other style files */
html, body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
}

.warn-button {
    mat-icon {
        color: #e57373;
    }
}

